$bg: #f3f8fa;
$white: #fff;
$black: rgba(99, 102, 241);

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

button.learn_more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  &.learn_more {
    width: 12rem;
    height: auto;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: $black;
      border-radius: 1.625rem;
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $white;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button_text {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: $black;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
        background: $white;
        transform: translate(1rem, 0);
        }
      }
    }
    .button_text {
      color: $white;
    }
  }
}

.image_graphic {
  height: 400px;
  width: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}

.background_1 {
  background-image: url("https://res.cloudinary.com/techelegance/image/upload/v1623322752/Tech%20Elegance/landing%20page/backgrounds/OrgCoral_Ofc-01_Concept-06_Converted_hdp3w2.png");
  height: 450px;
  width: 650px;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
}

.background_contact {
  background-image: url("https://res.cloudinary.com/techelegance/image/upload/v1623136729/Tech%20Elegance/landing%20page/backgrounds/contact_ji8lk2.png");
  height: 266px;
  width: 331px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .background_1 {
    background-image: url("https://res.cloudinary.com/techelegance/image/upload/v1623322752/Tech%20Elegance/landing%20page/backgrounds/OrgCoral_Ofc-01_Concept-06_Converted_hdp3w2.png");
    height: 180px;
    width: 266px;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .background_contact {
    background-image: url("https://res.cloudinary.com/techelegance/image/upload/v1623136729/Tech%20Elegance/landing%20page/backgrounds/contact_ji8lk2.png");
    height: 200px;
    width: 240px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
