

.background_2 {
  background-image: url("https://res.cloudinary.com/techelegance/image/upload/v1624804563/Tech%20Elegance/landing%20page/backgrounds/5024153_logduw.png");
  height: 450px;
  width: 480px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 464px) {

  .background_2 {
    background-image: url("https://res.cloudinary.com/techelegance/image/upload/v1624804563/Tech%20Elegance/landing%20page/backgrounds/5024153_logduw.png");
    height: 245px;
    width: 265px;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

