$bg: #f3f8fa;
$white: #fff;
$black: rgba(99, 102, 241);

@mixin transition(
  $property: all,
  $duration: 0.45s,
  $ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
  transition: $property $duration $ease;
}

button.learn_more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  &.learn_more {
    width: 12rem;
    height: auto;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: $black;
      border-radius: 1.625rem;
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $white;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: "";
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button_text {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: $black;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
          background: $white;
          transform: translate(1rem, 0);
        }
      }
    }
    .button_text {
      color: $white;
    }
  }
}

.background_1 {
  background-image: url("https://res.cloudinary.com/techelegance/image/upload/v1623136729/Tech%20Elegance/landing%20page/backgrounds/hero_otzli3.png");
  height: 360px;
  width: 480px;
  // position: absolute;
  background-repeat: no-repeat;
}

.background_2 {
  background-image: url("https://res.cloudinary.com/techelegance/image/upload/v1623136729/Tech%20Elegance/landing%20page/backgrounds/about_l4mpio.png");
  height: 392px;
  width: 480px;
  background-repeat: no-repeat;
  background-size: cover;
}

.background_3 {
  background-image: url("https://res.cloudinary.com/techelegance/image/upload/v1624695966/Tech%20Elegance/landing%20page/backgrounds/205480480_830054511049863_8124031464444782282_n_crk9fi.png");
  height: 410px;
  width: 780px;
  background-repeat: no-repeat;
  background-size: cover;
}

.imageblog {
  height: 240px;
  width: 320px;
  background-repeat: no-repeat;
  background-size: 100%;
}

@media (max-width: 464px) {
  .background_1 {
    background-image: url("https://res.cloudinary.com/techelegance/image/upload/v1623136729/Tech%20Elegance/landing%20page/backgrounds/hero_otzli3.png");
    height: 180px;
    width: 250px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .background_2 {
    background-image: url("https://res.cloudinary.com/techelegance/image/upload/v1623136729/Tech%20Elegance/landing%20page/backgrounds/about_l4mpio.png");
    height: 200px;
    width: 245px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .background_3 {
    background-image: url("https://res.cloudinary.com/techelegance/image/upload/v1624695966/Tech%20Elegance/landing%20page/backgrounds/205480480_830054511049863_8124031464444782282_n_crk9fi.png");
    height: 165px;
    width: 320px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

div.shadow_card {
  --tw-shadow: 0 10px 15px -3px #f5f7ff, 0 4px 6px -2px #f5f7ff;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #f5f7ff),
    var(--tw-ring-shadow, 0 0 #f5f7ff), var(--tw-shadow);
}
