.linebutton {
  color: #fff;
  background-color: #00b900;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 12px;
  padding-left: 12px;
}

.facebookbutton {
  color: #fff;
  background-color: #1877f2;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 12px;
  padding-left: 12px;
}
